.content{
	width: 1000px;
	height: 670px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 50px;
	/*background: #f5f5f5;*/
	font-family: "Microsoft Yahei"
}
.content1{
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 10px;
}
.content2{
	float: left;
	width: 495px;
	height: 100px;
	margin-top: 10px;
	background: #ffffff;
}
.content2-1{
	float: left;
	width: 110px;
	margin-top: 10px;
	margin-left: 10px;
	height: 80px;
	background: url(../img/xwzx1.png);
	background-size: 100% 100%;
}
.content2-2{
	float: left;
	width: 350px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	/*height: 80px;*/
	line-height: 20px
	background:red;
	font-size: 12px;
}
.content2-2 span{
	display: block;
	text-align: right;
}
.content3{
	float: right;
	width: 495px;
	height: 100px;
	margin-top: 10px;
	background: #ffffff;
}
.content4{
	float: left;
	width: 1000px;
	height: 30px;
	margin-top: 30px;
	color: #ffffff;
}
.content4 ul{
	text-align: right;
	list-style: none;
}
.content4 ul li{
	float: left;
	margin-left: 5px;
	text-align: center;
	line-height: 30px;
	width: 30px;
	height: 30px;
	background: #ebebeb;
}
.content4 ul li:hover{
	background: #7b2783;
	color: #ffffff;
}
.content4 .content4-limore{
	width: 80px;
}
.content4 input{
	width: 40px;
	background: #ebebeb;
}
.content4 .content4-li1{
	float: left;
 	margin-left: 500px;
}
.content5{
	float: left;
	line-height: 30px;
	margin-left: 5px;
}
.content6{
	float: left;
	margin-left: 5px;
	text-align: center;
	line-height: 30px;
	width: 30px;
	height: 30px;
	background: #ebebeb;
	color: black;
}
.content6:hover{
	background: #7b2783;
	color: #ffffff;
}






